env.py
*.csv
*.xlsx
*.xlsm
.ipynb_checkpoints
data/*
site
markdown
*.log
.DS_Store
__pycache__
env
metastore_db
*.dat
*.crc
*.parquet
*.lck
sa311
.DS_Store
*.code-workspace
Untitled*.ipynb
spark-warehouse
*_files
data
.RHistory
syllabus.pdf
*.tex
misc/pandoc-github-template.html